:root {
  --bg: #dcdcdc;
  --color1: #0f9d58;
  --color2: #ea4335;
  --color3: #4285f4;
  --color4: #fbbc04;
  --color5: #686f76;
}

body {
  background-color: var(--bg);
}

.nav-link {
  font-style: "Montserrat";
  font-weight: 700;
  font-size: 1.2rem;
  
}
.navbar-brand {
  font-style: "Ubuntu";
  font-weight: 700;
  font-size: 1.5rem;
  margin: -7px 0 0 0;
}

.text-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container h2{
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.more_btn{
  background-color: var(--bg);
  border: solid 4px #333;
  width: 10rem;
  height: unset;
  border-radius: 12px;
  padding: 0.3rem 1rem;
}
.more_btn a{
  text-decoration: none;
  color: var(--color5);
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.footer-base {
  background-color: var(--color5);
  text-align: center;
  color: white;
}

.footer-link {
  color: white;
}
.footer-link:hover {
  color: black;
}
.social-icon {
  margin: 0 14px 0 0;
  padding: 2.5rem 0;
}

.footer-text {
  margin-bottom: 0;
}
