* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(5, 5, 5);
  }
  
  #faqtitle{
     padding-top: 5%;;
    font-size: 180%;
    padding-bottom: 1vh;
    color: #fff;
    text-shadow: 3px 3px 12px rgb(165, 48, 194);
    font-weight: 700;
    font-family: "Ubuntu",sans-serif;
    text-align: center;
    
  }
  
  .accordion {
    max-width: 900px;
    min-height: 100vh;
    margin: 2rem auto;
    align-items: center;
    border-radius: 10px;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #39b9d2;
    /* border-radius: 7px; */
    /* margin-bottom: 8px; */
    box-shadow: 0.5rem 5px 2px rgb(0 0 0 / 10%);
   
  }
  
  .accordion-title:hover {
    /* background-color: #3caec5; */
    color: #000000 !important;
    font-weight: 700 !important;
    letter-spacing: 2px;
    background: rgb(92, 118, 192);
    box-shadow: 0px 5px 40px -10px rgba(235, 242, 245, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(238, 233, 233, 0.57);
    transition: all 0.3s ease 0s;
  }

  /* .accordion-title:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  .accordion-title:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #1410ff;
  } */
  
  .accordion-title,
  .accordion-content {
    padding: 1.15rem;
    box-shadow: 0.5rem 5px 2px rgb(0 0 0 / 10%);
  }
  
  .accordion-content {
    background-color: #39b9d2;
    font-size: medium;
    text-align: justify;
    position: relative;
    
}

.accordion-item {
    margin-bottom: 8px;
   
}
.icon {
    transition: transform 0.6s ease;
  }
  
  @media screen and (max-width: 1285px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }

