#root {
    display: block;
    text-align: center;
    background-color: black;
    background: url("./res/darthmaterial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.App {
    border-radius: 14px;
    border-color: rgb(231, 231, 231);
    display: inline-block;
    text-align: center;
    width: 100%;
}
